$color_primary_socialfeed: #245f5e

.twitter-tweet,
.tweet,
.slide_item,
.reddit_post
    white-space: normal !important

#rss
    max-height: 1250px
    overflow-y: auto

.qcarousel2
    height: auto !important
    background-color: $color_primary_socialfeed

.qcarousel2::-webkit-scrollbar
    display: none
.qcarousel2
    overflow: hidden

.tweet,
.reddit_post
    border-radius: 5px
    color: rgb(101, 119, 134);

.tweet p,
.reddit_post p
    color: rgb(20, 23, 26) !important
    opacity: 1
.tweet a,
.reddit_post a
    color: rgb(27, 149, 224)

.reddit_post,
.tweet
    background-color: white !important
    padding: 20px
    margin-left: 20px
    margin-right: 20px